body {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 80%;
  height: 80%;
}

.ContainerProductCards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.ContainerCartButton {
  display: flex;
  justify-content: center;
}

.ProductCardContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 300px;
  height: 500px;
  margin: 1px;
}

.ProductCardImageContainer {
  display: flex;
}

.ProductCardPropertiesContainer {
  display: flex;
  flex-grow: 0.8;
  flex-direction:column;
  justify-content: space-evenly;
  margin: 5px;
}

.ProductCardButtonContainer {
  display: flex;
  justify-content: center;
}

.ProductCardButton {
  width: 200px;
  height: 40px;
  background-color: #48ba1f;
  border: 2px solid;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.ProductCardButton:hover {
  background-color: #50dd1d;
}

.ProductImage {
  max-height: 100%;
  max-width: 100%;
}

.ProductDescirption {
  display: flex;
  word-wrap: break-word;
}

.CartButton {
  width: 200px;
  height: 40px;
  background-color: #48ba1f;
  border: 2px solid;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}