body {
  display:flex;
  flex-direction:center;
  justify-content:center;
}

.Container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 100%;
  height: 100%;
}

.ProductContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  border: 2px solid;
  width: 600px;
  height:150px;
  margin: 1px;
}

.ProductCardImageContainer {
  display: flex;
  width:30%;
}

.ProductImage {
  max-height: 100%;
  max-width: 100%;
}

.ProductCardPropertiesContainer {
  display: flex;
  flex-direction:column;
  justify-content:center;
  justify-content:space-evenly;
}

.ProductCardButtonRemoveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CheckoutCardButton {
  width: 200px;
  height: 40px;
  background-color: red;
  border: 2px solid;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.CheckoutCardButton:hover {
  background-color: #F03535;
}
